<!-- componente-boton -->

<h1>COMPONENTE FILTER</h1>

<div class="container">
        <div class="row">
                <div class="col">MAP</a></div>
                <div class="col">FILTER</a></div>
                <div class="col">REDUCE</a></div>
              </div>
    <div class="row">
      <div class="col"><img src="https://miro.medium.com/max/1257/1*4EGwsCicbWJeml2aAm714A.gif" heigth="300" width="300"></img></div>
      <div class="col"><img src="https://miro.medium.com/max/1257/1*TOPYVvfMBmjajPh-fqZ9GQ.gif"  heigth="300" width="300"></img></div>
      <div class="col"><img src="https://miro.medium.com/max/1257/1*dhTC_FFgiH3mKROrnDj12w.gif"  heigth="300" width="300"></img></div>
    </div>
    <div class="row">
            <div class="col">{{colores}}</a></div>
            <div class="col">{{nombre2e}}</a></div>
            <div class="col">{{totalEuros}}</a></div>
          </div>
          <div class="row">
                <div class="col">PRUEBA RARA</a></div>
                
              </div>
              <div class="row">
                    <div class="col">{{prueba}}</a></div>
                    
                  </div>
   

$scope.colores = response.data.map( e => e.color);
  </div>



<!-- /componente-boton -->