<!-- listadoTareas -->

<h2>{{titulo}}</h2>

<div class="border p-2 mb-2 bg-light">
    <input type="text" ng-model="descripcion" autofocus placeholder="Descripcion de la tarea" size="40">
    <button ng-click="crearTarea()" class="btn btn-primary">Nueva TareaAAAAAAAAAA</button>
    <input type="text" ng-model="busqueda.descripcion" placeholder="Introduzca dato a buscar" size="40">
    <button ng-click="buscarCompletadas()" class="btn btn-primary">Completadas</button>
    <button ng-click="buscarPendientes()" class="btn btn-primary">Pendientes</button>
    <button ng-click="buscarTodas()" class="btn btn-primary">Todas</button>
    <p class="text-danger">{{mensajeValidacion}}</p>

</div>


<p ng-show="tareas.length == 0" class="text-warning">Cargando Tareas.....</p>

<ul class="list-group">   

    <li class="list-group-item {{ (item.completada)?'tachado':'' }}" 
        ng-repeat="item in tareas | filter:busqueda | orderBy:'descripcion'">

            <span class="badge badge-pill {{ (!item.completada)?'badge-primary':'badge-secondary' }}">{{item.id}}</span>
            {{item.descripcion}} 

        <span ng-click="eliminarTarea(item)"><i class="fas fa-trash-alt"></i></span>
        <span><input type="checkbox" ng-checked="{{item.completada}}" ng-click="finalizarTarea(item)" ></span>
    </li>  
</ul>

<!-- end listadoTareas -->
