

    <h1>EVALUACION 1</h1>
    <div class="container">
        <hr>
            <input type="text" ng-model="nombre" placeholder="nombre" class="form-control"><br>
            <input type="text" ng-model="lugar" placeholder="lugar de trabajo " class="form-control"><br>
            <input type="text" ng-model="salario" placeholder="salario" class="form-control"><br>
        <hr>
        
        Su nombre: {{nombre | uppercase}} <br>
        Lugar de trabajo: {{lugar}} <br>
        Salario en Euskos: {{salario | currency}}€ <br> 
    </div>

