<div ng-controller="crudController" >

     <h2>{{titulo}}</h2>

     <!--{{ canciones | json }}-->

    <table class="table">
        <thead class="thead-dark">
            <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>   
            <th scope="col">Acciones</th>         
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="cancion in canciones | orderBy:'id'">
                <th scope="row">{{cancion.id}}</th>
                <td >{{cancion.nombre}}</td>
                <td><i class="fas fa-trash-alt" ng-click="eliminar(cancion.id)"></i>   
                    <i class="fas fa-pencil-alt" ng-click="modificar(cancion.id)"></i>
                    
                
                </td>
            </tr>
        </tbody>
    </table>
    <input type="text" ng-model="nombreCancion" autofocus placeholder="nombre cancion" size="40">
    <button ng-click="crearCancion()" class="btn btn-primary">Nueva Cancion</button>
    <input type="text" ng-model="nombreNuevo" ng-show="mostrarText" class="ng-hide" placeholder="nombre cancion" size="30">
    <button ng-click="modificar(cancion.id)" ng-show="mostrarText" class="btn btn-primary">Confirmar</button>
          
       

</div>